<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/general.css">
<footer>
  <div class="main-footer">
    <section class="fter">
      <i class="fab fa-whatsapp"></i>
      <h2>DUDAS?</h2>
      <article>
        Nuestro equipo de atención al cliente esta disponible para atenderte.
      </article>
    </section>
    <section class="fter">
      <i class="fas fa-shipping-fast"></i>
      <h2>ENVIOS Y RETIROS</h2>
      <article>
        Chequeá todas las opciones en tu carrito de compra antes de procesar tu orden.
      </article>
    </section>
    <section class="fter">
      <i class="fas fa-user-shield"></i>
      <h2>100% SEGURO</h2>
      <article>
        Tus pedidos se encuentran protegidos por nuestro acuerdo de servicio.
      </article>
    </section>
  </div>
  <div class="bottom-footer">2022 © M200 S.A. - Todos los derechos reservados.</div>
</footer>